/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/* === fontawesome === */
@import url('css/font-awesome.min.css');




body {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size:12pt;
	font-weight:400;
//	line-height:1.6em;
	background-size: cover;
}

a{
	transition:0.5s all;
	color: #0000ff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
background: #390d8e;
color: #fff;
text-align:center;
}

a:hover, a:focus {
	color: #de874f;
}


p { }

h1, h2, h3, h4 {
	font-family:'Cuprum', Arial, sans-serif;
	font-weight:100;
	padding: 0;
	margin: 5px 0 5px 0;
	color: #F44336;
}

h7{
    font-family:'Cuprum', Arial, sans-serif;
	font-weight:100;
	padding: 0;
	margin: 5px 0 5px 0;
	color: #fff;
}

h1 {
	font-size: 2.8em;
	line-height:120%;	
}

h2 {	
	font-size: 2em;		
}


h3 { font-size: 1.6em; }

h4 { font-size: 1.4em; line-height:140%; margin:4px 0 0 0;}
h5 { font-size: 1.2em; line-height:120%; margin:4px 0 0 0; font-weight: 600;}
h6 { font-size: 1em; line-height:120%; margin:2px 0 0 0;}

h7 { font-size: 1.6em; }




li {	
	padding-bottom: 4px;		
} 

ul {	
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0.9em;
	padding-left: 0.9em;
	list-style-image: url(/media/img/li.png);
	list-style-type: square	
}



ol {	
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0.9em;
	padding-left: 0.9em;		
}


address {
	line-height:120%;
	margin: 10px 0 20px 0;
	padding-left: 10px;
	border-left: 6px solid #4d7091;
	font-style: normal;
	font-weight: bold;
	}


blockquote {	
	font-size:0.9em;
	padding: 10px;
	border-left: 2px solid #e6e6e6;
	margin: 3px 0 20px 5%;
}

pre, code {
	padding: 0 0 20px 6px;
	margin: 3px 0 20px 0;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;	
	border-left: 6px solid #e6e6e6;
	
	
	color: #000;
	font-size:1em;	
	overflow:auto; 
	line-height:2.2em;	
		
}

table {	
	//border-collapse:collapse;	
	//border-top: 1px solid #999;
	margin-top: 3px;
	margin-bottom:5px;
	width:100%;
	font: 0.85em;	
}
table caption {font-size:1.1em; text-align:left; }
table th {font-size:0.9em; padding: 4px; text-align:left; vertical-align: top; border-bottom: 1px solid #ddd;}
table tbody td {font-size:0.9em; padding: 4px; /*vertical-align: top;border-bottom: 1px solid #ddd;*/}
/*table tbody tr:hover td {background-color:#fff;}*/
tbody td p, tbody td h1, tbody td h2, tbody td h3, tbody td h4 {margin: 0; line-height:110%;}


/*-----------------------------------------------------------------*/	

/* Specials */
p img[align="right"], h3 img[align="right"] { float:right; margin: 4px 0 5px 10px; max-width: 49%;}
p img[align="left"], h3 img[align="left"] { float:left; margin: 4px 10px 5px 0; max-width: 49%;}


input [type="text"],input [type="submit"],input [type="button"],textarea{
	-webkit-appearance:none;
}


